.container {
  min-height: 10vh;
  background-color: #36383a ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  color: #fff;
  position: sticky;
  top: 0;
}
.img{
   width: 30%;
   max-width: 120px;
}
.container i {
    color: #fff;
    font-size: 1.5rem;
}
.menu_nav{
    display: none;
    min-width: 200px;
    justify-content: space-around;
    align-items: center;
}
