@import '../../styles/variables.scss';

.container {
  min-height: 10vh;
  background-color: $primary-color;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
}
